<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<title>N puzzle</title>

</head>

<body>
		<h1 class="h_main">Sliding puzzle</h1>

	<div class="col-sm-12 col-md-8">
		<div id="puzzle" class="puzzleTable">
		</div>
		<div id="actionsBar">
			<button class="btn btn-primary actionButtons" id="random">Make it random!</button>
			<button class="btn btn-success actionButtons" id="solve">Solve!</button>
			<button class="btn btn-primary actionButtons" id="play">Play the result!</button>
		</div>
	</div>

	<div class="col-sm-12 col-md-4">
		<div class="info choice col-sm-12">
			<form action="#">
				<h3 class="h_main col-sm-12">Puzzle configuration</h3>
				<div class="col-sm-12">
					<label for="size" class="col-sm-5">Puzzle size:</label>
					<select id="size" class="col-sm-7">
						<!-- <option value="3">3</option> -->
						<!-- <option value="4">4</option> -->
					</select>
				</div>
				<div class="col-sm-12">
					<label for="algorithmType" class="col-sm-5">Algorithm type:</label>
					<select id="algorithmType" class="col-sm-7">
						<!-- <option value="aStar">A*</option> -->
					</select>
				</div>
				<div class="col-sm-12" id="heuristicTypes">
					<label class="col-sm-12">Heuristic types:</label>
					<div class="form-check">
						<label class="form-check-label heuristic">
							<input class="form-check-input" type="checkbox" id="manhattan" value="manhattan"> Manhattan distance
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label heuristic">
							<input class="form-check-input" type="checkbox" id="linear" value="linear"> Linear conflict
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label heuristic">
							<input class="form-check-input" type="checkbox" id="patternDatabase" value="patternDatabase"> Pattern database
						</label>
					</div>
				</div>
			</form>
		</div>
		<div class="info rezult col-sm-12">
			<h3 class="h_main col-sm-12">Results</h3>
			<div class="col-sm-12">
				<label for="moves" class="col-sm-5">Number of moves:</label>
				<span id="moves" class="col-sm-7">1</span>
			</div>
			<div class="col-sm-12">
				<label for="timePython" class="col-sm-5">Time Python:</label>
				<span id="timePython" class="col-sm-7">1</span>
			</div>
			<div class="col-sm-12">
				<label for="timeC" class="col-sm-5">Time C:</label>
				<span id="timeC" class="col-sm-7">1</span>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
var minSize = 3;
var maxSize = 6;
var algoTypes = [{'val': 'adaStar', 'text': 'ADA*'}, {'val': 'ada', 'text': 'A*'}];
var heuristicTypes = [{'val': 'manhattan', 'text': 'Manhattan distance'}];
var solution = "";
var tile_size = 61;
var field_static = 5;

function setPuzzle() {
	var size = Number($('#size').val());
	var field = $('#puzzle');

	field.html('');
	// field.css('height', 195);
	field.css('width', size * 61 + 18);
	var c = 1;
	for (var i = 0; i < size; i++) {
		for (var j = 0; j < size; j++) {
			if (i == size - 1 && j == size - 1) {
				break;
			}
			$('#puzzle').append("<div class='tile' id='tile-" + i + "-" + j + "'>" + c + "</div>");
			c++;
		}
	}
	$('#puzzle').append("<div class='empty' id='tile-" + (size - 1) + "-" + (size - 1) + "'></div>");
	$('#puzzle').css('height', $('#puzzle').css('width'));
	for (var i = 0; i < size; i++) {
		for (var j = 0; j < size; j++) {
			$('#tile-' + i + '-' + j).css('top', field_static + i * tile_size);
			$('#tile-' + i + '-' + j).css('left', field_static + j * tile_size);
			c++;
		}
	}
}

function setSize() {
	for (var i = minSize; i <= maxSize; i++) {
		$('#size').append("<option value='" + i + "'>" + i + "</option>");
	}
}

function setAlgoTypes() {
	for (var i = 0; i < algoTypes.length; i++) {
		$('#algorithmType').append("<option value='" + algoTypes[i].val + "'>" + algoTypes[i].text + "</option>");
	}
}

function setHeuristicTypes() {
	var obj = $('#heuristicTypes');
}

function request(page, dataSend) {
	$.ajax({
		type: 'POST',
		url: page,
		data: dataSend,
		success: function (translated) {
			// console.log('TR = ', translated);
			ret = $.parseJSON(translated);
			// return translated;
		},
		async:false
	});
	return ret;
}

function parse_tile(tile) {
	tile = tile.split('-');
	return {'i': parseInt(tile[1]), 'j': parseInt(tile[2])}
}

function animate_tile(move) {
	zero_animate = {}
	tile_animate = {}
	if (move == 'l') {
		tile_animate = {left: "-=" + tile_size};
		zero_animate = {left: "+=" + tile_size};
	} else if (move == 'r') {
		tile_animate = {left: "+=" + tile_size};
		zero_animate = {left: "-=" + tile_size};
	} else if (move == 't') {
		tile_animate = {top: "-=" + tile_size};
		zero_animate = {top: "+=" + tile_size};
	} else {
		tile_animate = {top: "+=" + tile_size};
		zero_animate = {top: "+=" + tile_size};
	}
	return {'tile': tile_animate, 'zero': zero_animate};
}

function delay(time) {
	var d1 = new Date();
	var d2 = new Date();
	while (d2.valueOf() < d1.valueOf() + time) {
		d2 = new Date();
	}
}

function play_solution() {
	console.log("SOL = ", solution);
	if (solution != "") {
		delay_loop(0);
		// for (var i = 0, len = solution.length; i < len; i++) {
		// 	move = solution.charAt(i);
		// 	zero_id = document.getElementsByClassName("empty")[0].id;
		// 	now_zero = parse_tile(zero_id);
		// 	if (move == 'l') {
		// 		tile_move = "#tile-" + now_zero['i'] + "-" + (now_zero['j'] - 1);
		// 	} else if (move == 'r') {
		// 		tile_move = "#tile-" + now_zero['i'] + "-" + (now_zero['j'] + 1);
		// 	} else if (move == 't') {
		// 		tile_move = "#tile-" + (now_zero['i'] - 1) + "-" + now_zero['j'];
		// 	} else {
		// 		tile_move = "#tile-" + (now_zero['i'] + 1) + "-" + now_zero['j'];
		// 	}
		// 	anim = animate_tile(move);
		// 	$(tile_move).animate(anim['tile'], 500, function() {
		// 		// Animation complete.
		// 	});
		// 	$(tile_move).attr('id', zero_id);
		// 	document.getElementsByClassName("empty")[0].id = tile_move;
		// }
	}
}

function delay_loop(i) {
    // start a delay
    setTimeout(function(){
		move = solution.charAt(i);
		zero_id = document.getElementsByClassName("empty")[0].id;
		now_zero = parse_tile(zero_id);
		if (move == 'l') {
			tile_move = "#tile-" + now_zero['i'] + "-" + (now_zero['j'] - 1);
		} else if (move == 'r') {
			tile_move = "#tile-" + now_zero['i'] + "-" + (now_zero['j'] + 1);
		} else if (move == 't') {
			tile_move = "#tile-" + (now_zero['i'] - 1) + "-" + now_zero['j'];
		} else {
			tile_move = "#tile-" + (now_zero['i'] + 1) + "-" + now_zero['j'];
		}
		anim = animate_tile(move);
		$(tile_move).animate(anim['tile'], 500, function() {
			// Animation complete.
		});
		$(tile_move).attr('id', zero_id);
		document.getElementsByClassName("empty")[0].id = tile_move;

        // recursive call 
        if (i < solution.length)
            delay_loop(i + 1);

    }, 500);
}

$('#play').click(play_solution);

$('#size').change(function () {
	setPuzzle();
});

$('#random').click(function () {
	var size = Number($('#size').val());
	var field = $('#puzzle');

	console.log('new');
	path = request('rand', {size: $('#size').val()});
	console.log('PATH = ', path);
	field.html('');
	field.css('width', size * 61 + 18);
	var c = 0;
	console.log("PATH = ", path);
	for (var c = 0; c < path.length; c++) {
		val = path[c];
		i = c / size >> 0;
		j = c % size;
		console.log("I = ", i, " | j = ", j);
		if (val == 0) {
			field.append("<div class='empty' id='tile-" + i + "-" + j + "'></div>");
		} else {
			field.append("<div class='tile' id='tile-" + i + "-" + j + "'>" + path[c] + "</div>");
		}
	}
	// for (var i = 0; i < size; i++) {
	// 	for (var j = 0; j < size; j++) {
	// 		if (i == size - 1 && j == size - 1) {
	// 			break;
	// 		}
	// 		if (path[c] == 0) {
	// 			field.append("<div class='empty' id='tile-" + i + "-" + j + "'></div>");
	// 		} else {
	// 			field.append("<div class='tile' id='tile-" + i + "-" + j + "'>" + path[c] + "</div>");
	// 		}
	// 		c++;
	// 	}
	// }
	// if (path[c] == 0) {
	// 	field.append("<div class='empty' id='tile-" + (size - 1) + "-" + (size - 1) + "'></div>");
	// } else {
	// 	field.append("<div class='tile' id='tile-" + (size - 1) + "-" + (size - 1) + "'>" + path[c] + "</div>");
	// }
	c = 0;
	for (var i = 0; i < size; i++) {
		for (var j = 0; j < size; j++) {
			tile = '#tile-' + i + '-' + j;
			val = parseInt($(tile).html());
			if (!val) {
				val = Math.pow(size, 2);
			}
			console.log("HERE EPT", path[c]);
			$(tile).css('left', field_static + i * tile_size);
			$(tile).css('top', field_static + j * tile_size);
			c++;
		}
	}
	// $('#puzzle').css('height', $('#puzzle').css('width'));
});

$('#solve').click(function () {
	var size = Number($('#size').val());
	var algorithmType = $('#algorithmType');
	var manhattan = ($('#manhattan').prop('checked')) ? 1 : 0;
	var linear = ($('#linear').prop('checked')) ? 1 : 0;
	var patternDatabase = ($('#patternDatabase').prop('checked')) ? 1 : 0;

	var field = "";
	for (var i = 0; i < size; i++) {
		for (var j = 0; j < size; j++) {
			val = $('#tile-' + i + '-' + j).html();
			if (!val) {
				field += '0';
			} else {
				field += val;
			}
			if (!(i == size - 1 && j == size - 1)) {
				field += ',';
			}
		}
	}
	console.log(field);
	data = {size: size, field: field, manhattan: manhattan, linear: linear, patternDatabase: patternDatabase};
	ret = request('solve', data);
	$("#timePython").html(ret['python_time']);
	$("#timeC").html(ret['c_time']);
	$('#moves').html(ret['solution'].length);
	solution = ret['solution'];
});

$(document).ready(function () {
	setSize();
	setPuzzle();
	setAlgoTypes();
	// setHeuristicTypes();
});
	</script>

	<!-- <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script> -->

</body>
</html>
